module.exports = {
  apps : [{
    name: 'Dashboard',
    script: 'npm run serve',

    // Options reference: https://pm2.io/doc/en/runtime/reference/ecosystem-file/
    // args: 'one two',
    instances: 1,
    autorestart: true,
    watch: false,
    max_memory_restart: '1G',
    env: {
      NODE_ENV: 'development'
    },
    env_production: {
      NODE_ENV: 'production'
    }
  }],

  deploy : {
    production : {
      user: 'bitnami',  // REPLACE THIS
      host: 'ec2-00-00-00-000.compute-1.amazonaws.com', // REPLACE THIS
      key: '~/{path-to-pem}/{file}.pem', // REPLACE THIS
      ref: 'origin/master', // REPLACE THIS
      repo: 'git@bitbucket.org:gocodistry/dashboard.git',
      path: '/path/to/project',  // REPLACE THIS
      'post-deploy':
        'npm install && npm run build && pm2 startOrRestart ecosystem.config.js --name Dashboard',
      env: {
        NODE_ENV: 'production'  // REPLACE THIS
      }
    }
  }
};
