$royal-blue: #475FF2;
$lavender-gray: #b6bcd7;
$electric-violet: #ad34fe;
$danube: #75abd7;
$ebony-clay: #222636;
$blue-bayoux: #54617a;
$black-squeeze: #eff3f9;
$aluminium: #a5a6ad;

.text-lavender-gray {
  color: $lavender-gray !important;
}

.text-royal-blue {
  color: $royal-blue !important;
}

.text-electric-violet {
  color: $electric-violet !important;
}

.text-danube {
  color: $danube !important;
}

.text-blue-bayoux {
  color: $blue-bayoux !important;
}

.text-black-squeeze {
  color: $black-squeeze !important;
}

.text-aluminium {
  color: $aluminium !important;
}

//

.bg-lavender-gray {
  background: $lavender-gray !important;
}

.bg-royal-blue {
  background: $royal-blue !important;
}

.bg-electric-violet {
  background: $electric-violet !important;
}

.bg-danube {
  background: $danube !important;
}

.bg-ebony-clay {
  background: $ebony-clay !important;
}

.bg-blue-bayoux {
  background: $blue-bayoux !important;
}

